@keyframes grow {
    0%   {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
    }

#logo {
  animation-name: grow;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

body {
    font-family: 'Poppins', 'serif';
    background: #f1f1f1 url(../images/concrete_seamless.png)
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a:link {
    color: blue;
  }
  

a:visited {
    color: blue;
  }
  
